/* Global */
:root {
  --main-bg-color: #020202;
  --main-text-color: #ffffff;
  --primary-color: #16db65;
  --secondary-color: #0d2818;

  --small-text-size: 16px;
  --medium-text-size: 18px;
  --large-text-size: 36px;
  --section-title-size: 42px;

  --transation-duration: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.arabic {
  direction: rtl;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.container {
  width: 100%;
  padding: 0 10%;
}

.section-title {
  text-align: center;
  font-size: var(--section-title-size);
  font-weight: 600;
  margin: 80px 0;
  color: var(--main-text-color);
}

@media (max-width: 1124px) {
  :root {
    --small-text-size: 12px;
    --medium-text-size: 16px;
    --large-text-size: 32px;
  }
}

@media (max-width: 767px) {
  :root {
    --large-text-size: 24px;
  }

  .container {
    padding: 0 25px;
  }
}

/* Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d281850;
  z-index: 10;
  width: 100%;
  padding: 0 10%;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-scroll {
  background-color: var(--main-bg-color);
}

.navbar div .menu-btn {
  display: none;
  font-weight: 400;
  font-size: 32px;
  color: var(--main-text-color);
  cursor: pointer;
  transition: var(--transation-duration) ease-in-out;
}

.navbar div .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar div li {
  margin-left: 25px;
}

.navbar div li a {
  font-weight: 400;
  font-size: var(--small-text-size);
  text-decoration: none;
  color: var(--main-text-color);
  transition: var(--transation-duration) ease-in-out;
}

.navbar div li a:hover {
  color: var(--primary-color);
}

.navbar div li .active {
  color: var(--primary-color);
}

.navbar .Profile {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar .Profile p {
  color: white;
  text-decoration: none;
  transition: all ease-in-out var(--transation-duration);
  margin: 0 15px;
}

.navbar .Profile:hover .profileMenu{
  display: flex;
}

.navbar .Profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar .Profile .profileMenu {
  background-color: white;
  color: black;
  position: absolute;
  top: 40px;
  list-style: none;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
}

.navbar .Profile .profileMenu li {
  margin: 0;
  padding: 15px;
  cursor: pointer;
}

.navbar .Profile .profileMenu li:hover a {
  color: var(--primary-color);
}

.navbar .Profile .profileMenu li a {
  color: black;
}

.logoutBtn {
  background-color: red;
  color: white;
  font-size: var(--small-text-size);
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: all ease-in-out var(--transation-duration);
}

.logoutBtn:hover {
  background-color: rgb(180, 0, 0);
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }

  .navbar div {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .navbar div .hide-menu {
    display: none;
  }

  .navbar .logo {
    margin: 0 20px;
  }

  .navbar div .menu-btn {
    display: block;
    margin: 0 20px;
  }

  .navbar div .menu-btn:hover {
    color: var(--primary-color);
  }

  .navbar div .menu {
    position: fixed;
    height: calc(100% - 68px);
    width: 200px;
    background-color: var(--secondary-color);
    flex-direction: column;
    justify-content: flex-start;
    top: 68px;
  }

  .navbar div .menu li {
    width: 100%;
    margin: 0;
  }

  .navbar div .menu li:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);
  }

  .navbar div .menu li a {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .navbar div .menu li a:hover {
    background-color: #0c8a3e;
  }

  .navbar .Profile {
    flex-direction: row;
    padding: 15px 0;
  }

  .navbar div .menu li .Profile .profileMenu{
    top: 50px;
  }

  .navbar div .menu li .Profile .profileMenu a:hover {
    margin: 0;
    background-color: white;
  }
}

/* Footer */

footer {
  margin-top: 100px;
  background-color: #0d281850;
  text-align: center;
}

footer p {
  font-size: var(--medium-text-size);
  font-weight: 600;
  color: var(--main-text-color);
  padding: 15px 0;
}
