/* Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d281850;
  z-index: 10;
  width: 100%;
  padding: 0 20%;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-scroll {
  background-color: var(--main-bg-color);
}

.navbar .logo {
  width: 120px;
}

.navbar div .menu-btn {
  display: none;
  font-weight: 400;
  font-size: 32px;
  color: var(--main-text-color);
  cursor: pointer;
  transition: var(--transation-duration) ease-in-out;
}

.navbar div .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar div .menu li {
  margin-left: 25px;
}

.navbar div .menu li a {
  font-weight: 400;
  font-size: var(--small-text-size);
  text-decoration: none;
  color: var(--main-text-color);
  transition: var(--transation-duration) ease-in-out;
}

.navbar div .menu li a:hover {
  color: var(--primary-color);
}

.navbar div .menu li .active {
  color: var(--primary-color);
}

.navbar div .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.navbar div .profile img {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.navbar div .profile li {
  margin: 10px;
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }

  .navbar div {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .navbar div .hide-menu {
    display: none;
  }

  .navbar .logo {
    margin: 0 20px;
  }

  .navbar div .menu-btn {
    display: block;
    margin: 0 20px;
  }

  .navbar div .menu-btn:hover {
    color: var(--primary-color);
  }

  .navbar div .menu {
    position: fixed;
    height: calc(100% - 68px);
    width: 200px;
    background-color: var(--secondary-color);
    flex-direction: column;
    justify-content: flex-start;
    top: 68px;
  }

  .navbar div .menu li {
    width: 100%;
    margin: 0;
  }

  .navbar div .menu li:not(:last-child){
    border-bottom: 1px solid var(--primary-color);
  }

  .navbar div .menu li a {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .navbar div .menu li a:hover {
    background-color: #0c8a3e;
  }

  .navbar div .profile {
    margin: 5px 0;
  }
}

/* Search Section */
.search-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.search-section svg {
  font-size: var(--medium-text-size);
  padding: 15px;
}

.search-section input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: transparent;
  font-size: var(--small-text-size);
}

/* Filters Section */
.filters-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filters-section select {
  margin: 15px 0;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: var(--small-text-size);
}

@media (max-width: 768px) {
  .filters-section {
    flex-direction: column;
  }

  .filters-section select {
    margin: 15px 0 0 0;
    width: 100%;
  }
}

/* Courses Section */
.courses-section {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding: 15px;
  cursor: pointer;
  transition: var(--transation-duration) ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 10px white;
}

.price-tag {
  padding: 10px 25px;
}

.price-tag p {
  font-size: var(--medium-text-size);
  font-weight: 600;
  color: var(--primary-color);
}

.card-img {
  width: 40%;
  border-radius: 10px;
}

.card-text {
  width: 50%;
  padding: 10px 20px 30px 20px;
  margin-bottom: 20px;
}

.card-text h3 {
  font-size: var(--medium-text-size);
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.card-text h5 {
  font-size: calc(var(--small-text-size) - 2px);
  font-weight: 300;
  color: var(--main-text-color);
}

@media (max-width: 1024px) {
  .card {
    padding: 5px 15px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .card-text {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .courses-section {
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }

  .card-img {
    width: 100%;
    border-radius: 25px 25px 0 0;
  }

  .price-tag {
    position: absolute;
    bottom: 92%;
    right: 15px;
    padding: 3%;
    border-radius: 50px;
    background-color: var(--primary-color);
  }

  .price-tag p {
    color: var(--main-text-color);
    font-size: calc(var(--medium-text-size) + 10px);
  }
}

/* pagination section */
.pagination-section {
  padding: 0 15%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-section .btn {
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--main-text-color);
  transition: var(--transation-duration) ease-in-out;
  font-size: var(--small-text-size);
  cursor: pointer;
  border: none;
}

.pagination-section .btn:hover {
  box-shadow: 0 0 15px white;
}

.pagination-section .btn:disabled {
  background-color: #043216;
  color: #999999;
  cursor: default;
}

.pagination-section .btn:disabled:hover {
  box-shadow: none;
  background-color: #043216;
  color: #999999;
}

.pagination-section p {
  font-size: var(--small-text-size);
  color: var(--main-text-color);
}

@media (max-width: 767px) {
  .pagination-section {
    padding: 0 10%;
  }
}

/* Footer */

footer {
  margin-top: 100px;
  background-color: #0d281850;
  text-align: center;
}

footer p {
  font-size: var(--medium-text-size);
  font-weight: 600;
  color: var(--main-text-color);
  padding: 15px 0;
}
